{% load humanize %}
{% load hitcount_tags %}
{% load account_tags %}

<blog class="brick entry format-standard animate-this">
  {% if blog.thumb %}
  <div class="entry-thumb">
    <a href="{% url 'blog:detail' slug=blog.slug %}" class="thumb-link">
      <img src="{{blog.thumb.url}}" alt="{{blog.thumb_alt}}" />
    </a>
  </div>
  {% endif %}

  <div class="entry-text">
    <div class="entry-header">
      <h1 class="entry-title">
        <a href="{% url 'blog:detail' slug=blog.slug %}">{{blog.title}}</a>
      </h1>
    </div>

    <ul class="entry-meta">
      <span class="extras" style="color: #000000;">
        {% get_hit_count for blog as views %}
        <span>
          <i class="fa-solid fa-eye"></i> {{ views |intcomma }} view{{ views |pluralize }}
        </span>
        &nbsp;&nbsp;
        <span>
          <i class="fa-solid fa-clock"></i> {{ blog.get_read_time }} mins read
        </span>
      </span>
    </ul>

    <div class="entry-excerpt">
    {% if blog.show_excerpt %}
      {{blog.excerpt}}
    {% else %}
      {{blog.body|striptags|safe|truncatechars:255}}
    {% endif %}
    </div>

    <ul class="entry-meta">
      <span class="cat-links">
        {% user_name blog.author href=True %}
        {{blog.get_datetime |date:"M d, Y"}}
      </span>
      </span>	
    </ul>
  </div>
</blog>
