{% load static %}

<!-- ================================================== HEY ================================================== -->
<!--		
			# a little info about me
				- My name is Vaibhav Shukla, and I'm the creator of this site.
				- you can contribute to this project here - github.com/mr-vaibh/nerdsway
				- if you're a hacker, don't even try
-->
<!-- ============================================================================================================= -->

<!DOCTYPE html>
<!--[if IE 8]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en">
	<!--<![endif]-->
	<head>
		<!--- basic page needs
		================================================== -->
		<meta charset="utf-8" />
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, width=device-width, height=device-height" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

		<title>{% block title %}{% endblock title %}</title>

		<!-- Google site verification -->
		<meta name="google-site-verification" content="xJGWA3r9k-uoY68neDY5c2M6h6va9qmdfJMP_CjRs30" />

		<!-- mobile specific metas
		================================================== -->
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, maximum-scale=1"
		/>

		<!-- CSS
		================================================== -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
		<link rel="stylesheet" href="{% static 'home/css/base.css' %}" />
		<link rel="stylesheet" href="{% static 'home/css/vendor.css' %}" />
		<link rel="stylesheet" href="{% static 'home/css/main.css' %}" />
		<link rel="stylesheet" href="{% static 'home/css/override.css' %}" />

		<!-- script
		================================================== -->
		<script src="https://cdn.jsdelivr.net/npm/jdenticon@3.1.1/dist/jdenticon.min.js" async integrity="sha384-l0/0sn63N3mskDgRYJZA6Mogihu0VY3CusdLMiwpJ9LFPklOARUcOiWEIGGmFELx" crossorigin="anonymous"></script>
		<script src="{% static 'home/js/modernizr.js' %}"></script>
		<script src="{% static 'home/js/pace.min.js' %}"></script>

		<!-- favicons
		================================================== -->
		<link rel="shortcut icon" href="{% static 'home/images/favicon.png' %}" type="image/x-icon" />
		<link rel="icon" href="{% static 'home/images/favicon.png' %}" type="image/x-icon" />
		
		{% block meta %}{% endblock meta %}
				
		{% block head %}{% endblock head %}

		<style>
		{% block css %}{% endblock css %}
		</style>
	</head>

	<body id="top">

		<!-- header 
		================================================== -->
		{% include 'home/components/~common/navbar.html' %}
		<!-- end header -->

		{% comment %} Actual Body {% endcomment %}
		{% block body %}{% endblock body %}


		<!-- MODAL HTML -->
		<div id="subscribe_modal" class="modal">
			<!-- Modal content -->
			<div class="modal-content">
			<span class="close">&times;</span>
			<form method="POST" action="{% url 'home:subscribe' %}" style="text-align:center;">
				{% csrf_token %}
				<h1>Get regular quality content 📃</h1>
				
				<p style="font-size:1.15em;">Subscribe to our mailing list to receive updates from the blog</p>
				<input type="email" name="subscribe_email" placeholder="your@email.plz" style="width: 100%" autocomplete="off">
				<button type="submit" class="button button-primary full-width">SUBSCRIBE</button>

				<p style="font-style:italics;margin:0;">PS: We promise not to spam 🤫</p>
			</form>
			</div>
		</div>
	
		<script>
		{% block js %}{% endblock js %}
		</script>

		<!-- footer
		================================================== -->
		{% include 'home/components/~common/footer.html' %}
		<!-- end footer-bottom -->

		<!-- REMOVED BECAUSE IT WAS ANNOYING
			<div id="preloader">
				<div id="loader"></div>
			</div>
		-->

		<!-- Java Script
	 	================================================== -->
		<script src="{% static 'home/js/jquery-2.1.3.min.js' %}"></script>
		<script src="{% static 'home/js/plugins.js' %}"></script>
		<script src="{% static 'home/js/main.js' %}"></script>
		<script src="{% static 'home/js/custom.js' %}"></script>
	</body>
</html>
