{% extends 'home/base.html' %}
{% load static %}

{% block meta %}
{% include 'home/components/~common/meta.html' with meta_title="NerdsWay — MrVaiBH's Official Blog" meta_desc='NerdsWay is a free and open blog. Here anyone can share their stories/ideas/opinions, under the democratic conditions :)' %}
{% endblock meta %}

{% block title %}NerdsWay — Personalized blogging site platform{% endblock title %}

{% block css %}
.bricks-wrapper .entry-header .entry-title {
    margin-bottom: 0;
}
.entry-meta {
    margin: 0;
    margin-top: 0.6em;
}
.entry-meta .extras * {
    font-size: 0.8em;
}
{% endblock css %}

{% block body %}

<!-- masonry
	 ================================================== -->
<section id="bricks">
	<div class="row masonry">
		<!-- brick-wrapper -->
		<div class="bricks-wrapper">
			<div class="grid-sizer"></div>

			{% include 'home/components/card/featured.html' with featured_blogs=featured_blogs %}
			
			{% for blog in blogs %}
				{% include 'home/components/card/general-card.html' with blog=blog %}
			{% endfor %}
		</div>
		<!-- end brick-wrapper -->
	</div>
	<!-- end row -->

	{% if is_paginated %}
        <div class="row">
            <nav class="pagination">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}" class="page-numbers prev">Prev</a>
                {% else %}
                    <span class="page-numbers prev inactive">Prev</span>
                {% endif %}

                {% for i in paginator.page_range %}
                    {% if page_obj.number == i %}
                        <span class="page-numbers current">{{ i }}</span>
                    {% else %}
                        <a href="?page={{ i }}" class="page-numbers">{{ i }}</a>
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}" class="page-numbers next">Next</a>
                {% else %}
                    <span class="page-numbers next inactive">Next</span>
                {% endif %}
            </nav>
        </div>
    {% endif %}
</section>
<!-- end bricks -->

{% endblock body %}
