[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
django-hitcount = "*"
gunicorn = "*"
django-heroku = "*"
whitenoise = "*"
django-environ = "*"
django-cloudinary-storage = "*"
django-tinymce = "*"
mysqlclient = "*"

[dev-packages]

[requires]
python_version = "3.11"
