::selection {
  color: #000000;
  background: #a5a5a5;
}

header .logo {
  cursor: pointer;
  user-select: none;
}
header .logo img {
  display: inline;
  vertical-align: middle;
}
header .logo span {
  display: inline;
  vertical-align: middle;
  font-size: 2em;
  font-weight: bold;
}

#content-wrap .content-media {
  text-align: center;
}

.blog-single .author-profile svg {
  margin: 0.6rem 0 0 0 !important;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
}


/* Custom CSS */
.main {
  padding: 0 1em 0 1em;
  margin-top: 3em;
  margin-bottom: 3em;
  margin-left: auto;
  margin-right: auto;
  max-width: 55em;
}


@media all and (max-width: 1150px) {
  header .logo span {
    display: none;
  }
}