{% extends 'home/base.html' %}
{% load static %}
{% load account_tags %}

{% block title %}Edit Blog | NerdsWay{% endblock title %}

{% block head %}
{% comment %} {{ form.media }} {% endcomment %}
<script src="{% static 'django_tinymce/init_tinymce.js' %}" referrerpolicy="origin"></script>
<script src="https://cdn.tiny.cloud/1/0kuyakq1c4gvk3f0dvr88cyg9lydia7r0et1z5c6owxz1ac9/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
{% endblock head %}

{% block body %}

<section id="content-wrap">
    <div class="row">
        
        {% if form.errors %}
        <div class="alert-box ss-error hideit">
            <p>{{form.errors}}</p>
            <i class="fa fa-times close"></i>
        </div>
        {% endif %}

        <br />
        
        <div class="col-twelve">
            <form action="{% url 'blog:edit' blog_id=blog.id %}" method="post" enctype="multipart/form-data" autocomplete="off">
            {% csrf_token %}
            
            {% for element in form %}
                <div class="form-group">
                    <label for="title">{{element.label}}</label>
                    {{element}}
                </div>
            {% endfor %}

            <div class="form-group" style="position: relative;">
                <label for="tags">Start typing to add tags:</label>
                <input type="text" id="addTagInput">
                <div id="tagSuggestions">
                    <ul>
                        {% comment %} <li><a href="#">tag</li> {% endcomment %}
                    </ul>
                </div>
                
                <div id="tagPills">
                    {% comment %} <span class="pill">abc <span class="remove">&times;</span></span> {% endcomment %}
                </div>
                <input type="hidden" name="tags" id="tagsInput" value="{% for tag in blog.tags.all %}{{ tag }}&#44;{% endfor %}">
            </div>
            
            <br />
            <br />
            
            <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</section>

<script src="{% static 'blog/js/tag-dropdown.js' %}"></script>

{% endblock body %}