{% extends 'home/base.html' %}
{% load static %}
{% load account_tags %}

{% block title %}Write a Blog | NerdsWay{% endblock title %}

{% block head %}
{% comment %} {{ form.media }} {% endcomment %}
<script src="{% static 'django_tinymce/init_tinymce.js' %}" referrerpolicy="origin"></script>
<script src="https://cdn.tiny.cloud/1/0kuyakq1c4gvk3f0dvr88cyg9lydia7r0et1z5c6owxz1ac9/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
{% endblock head %}

{% block css %}
.alert .danger {
    color: red
}
input, textarea {
    width: 100%;
}
form [type=checkbox] {
    width: 20px;
    height: 20px;
}

#id_body {
    background-color: unset;
}

{% endblock css %}

{% block body %}

<section id="content-wrap">
    <div class="row">
        
        {% if form.errors %}
        <div class="alert-box ss-error hideit">
            <p>{{form.errors}}</p>
            <i class="fa fa-times close"></i>
        </div>
        {% endif %}

        <br />
        
        <div class="col-twelve">
            <form action="{% url 'blog:submit' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            
            {% for element in form %}
                <div class="form-group">
                    <label for="title">{{element.label}}</label>
                    {{element}}
                </div>
            {% endfor %}

            <div class="form-group">
                <label for="tags">Tags &lpar;comma seperated&rpar;</label>
                <input type="text" name="tags" id="tags">
            </div>
            
            <br />
            <br />
            
            <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</section>

{% endblock body %}